.browser-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    align-items:stretch;;
    align-content: stretch;
}

.browser-list__item {
    margin: 0;
    padding: 0;
    list-style: none;
    flex-grow: 1;
}

.browser-list__item--album {
    min-width: 200px;
    min-height: 200px;
}

.browser-list__item--artist {
    min-width: 250px;
    min-height: 200px;
}

.browser-list-wrapper {
    overflow: auto;
    height: 100%;
}
