.player {
    position: relative;
    border: 1px solid black;
    padding: 20px;
    margin: 0 20px;
}

.seeker {
    position: relative;
    height: 20px;
    width: 100%;
    background-color: lightblue;
    overflow: 'auto'
}

.seeker__position {
    position: absolute;
    top: 5px;
    /*left: 0px;*/
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: black;
    cursor: pointer;
}

.seeker__time {
    position: absolute;
    right: 0px;
    padding: 0;
    margin: 0;
}
