.sidebar {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.player-container {
    flex-grow: 0;
    flex-shrink: 0;
}

.playlist-container {
    overflow: auto;
    flex-grow: 1;
    flex-shrink: 1;
}
